@CHARSET "ISO-8859-1";

#Menudroit {
  margin-left: 0;
	padding-left: 0%;
	font-size: 1em;
	float: right;
	visibility: visible;
	width: 160px;
	min-height: 30em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
