/** GLOBAL **/
html, body { width: 100%; height: 100%; overflow: hidden; font-size: 12px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
body { text-align: center; margin: 0; font-family: Arial; }
h2, h6 { color: #295978; font-family: Verdana; font-size: 13px; }
h3 { display: none; }
h4 { color: black; padding-top: 4px; font-size: 13px; text-align: left; font-weight: bold; height: 22px; width: 98%; margin: 10px auto; }
a { color: #24333C; }
a:hover { text-decoration: none; color: #728088; }
.clear { clear: both; display: block; position: relative; }
img { border: none; }
.center { text-align: center; margin: auto; }
/** WRAPPER **/
#aspnetForm { position: relative; width: 1024px; height: 100%; margin: 0 auto; }
.mainContent { text-align: left; margin: 0 auto; width: 1024px; height: 100%; position: absolute; left: 0%; right: 0%; overflow: hidden; }
/** HEADER **/
#header { width: 1024px; font-size: 11px; position: absolute; z-index: 13; }
#menu { width: 1024px; height: 100px; }
#menuTop { background-color: White; width: 1024px; height: 24px; background: url('../images/menu/bandeau.jpg') no-repeat; padding: 50px 0 0 10px; }
#menuTop a { text-decoration: none; font-size: 14px; font-weight: normal; font-family: Calibri; color: #a81713; height: 20px; line-height: 20px; }
#menuMiddle { width: 1024px; height: 25px; margin: 0; }
/** MENU **/
#menuDeroulant { background: url('../images/menu/menu_bouton.gif') repeat-x; width: 1024px; height: 25px; border: none; margin: 0; z-index: 8; padding: 0; }
.menuDeroulantli { background-image: url('../images/menu/menu_intercallaire.gif'); background-repeat: no-repeat; background-position: right top; text-align: center; float: left; width: 140px; display: block; margin: 0; padding: 0; border: none; list-style: none; behavior: url('../../Circular/HTC/IE6over.htc'); }
.menuDeroulantliAccueil { border-style: solid; border-color: #888888; border-width: 0 0 0 1px; font-family: Arial; }
#menuDeroulant a { display: block; line-height: 25px; text-decoration: none; font-size: 12px; width: 140px; color: #fff; text-transform: uppercase; font-family: Verdana; }
/** SUBMENU **/
#menuDeroulant .sousMenu { display: none; padding: 0; border: none; width: 138px; z-index: 9; margin: 0; position: relative; left: -2px; }
#menuDeroulant .sousMenu li { margin: 0; padding: 0; border-color: #666666; border-style: solid; border-width: 0 1px 1px 1px; width: 138px; text-align: center; background-color: #EEEEEE; z-index: 18; list-style: none; line-height: 25px; }
#menuDeroulant .sousMenu a { color: #666666; display: block; line-height: 25px; width: 138px; background-color: #EEEEEE; }
#menuDeroulant .sousMenu a:hover { color: #5877a1; text-decoration: underline; background-color: #CCCCCC; }
#menuDeroulant li:hover > .sousMenu { display: block; }
/** NAVIGATION HEADBAND **/
#menuBottom { width: 1024px; height: 20px; position: absolute; top: 0; margin: 100px 0 0 15px; }
.AdressBar { height: 20px; line-height: 20px; text-indent: 5px; color: #FFF; font-family: Verdana; font-size: 12; background-image: url('../images/menu/bandFx.png'); background-repeat: repeat-y; }
.AdressBar a { text-decoration: none; }
/** PAGE NAVIGATION ITEM **/
.itemNavigation { height: 20px; line-height: 20px; position: absolute; top: 0px; right: 5px; margin: 0 15px 0 -15px; padding: 0; }
.itemNavigation input { vertical-align: top; }
/** WRAPPER CONTENT **/
#wrapContain { position: absolute; top: 0; margin: 100px 0 0 0; bottom: 0px; width: 1024px; background-color: #EFEFEF; }
/** WRAP CONTENT AND LEFT MENU **/
#container { position: absolute; top: 0; margin: 20px 0 0 0; bottom: 0px; width: 1024px; }
/** CONTENT PANEL **/
#content { overflow: auto; position: absolute; right: 0; bottom: 0; top: 0; width: 1024px; }
.autoScroll, #ctl00_ContentPlaceHolder1_UPGlobalPnl { margin: 0; position: absolute; width: 100%; top: 0; left: 0; }
#GlobalPanel { padding: 0 0 20px 0; position: absolute; width: 100%; top: 0; left: 0; }
/** AREA AND PANEL **/
.gray, .pnlTagFll, .szPnl_gray, .shSzPnl_gray { background-image: url('../images/pnl.png'); background-repeat: repeat-x; }
.grayTxt { color: #777777; }
.whiteTxt { color: #FFFFFF; }
.hgt300 { height: 300px; }
.szPnl_gray { background-position: center 30px; }
.shSzPnl_gray { background-position: center 30px; }
.w98 { width: 98%; text-align: center; margin: 0 0 0 1%; }
/** BOX **/
.box { border: solid 1px 1px 1px 1px #F3F3F3; background-color: #CFCFCF; }
.noBox { border: solid 1px 1px 1px 1px #CFCFCF; background-color: #F3F3F3; }
/** LABEL **/
.labelDefault { display: block; clear: both; }
/** WELCOME PAGE **/
#Div_User { padding: 0; margin: 0; }
/** TAB MENU **/
.ajax__tab_ie-theme .ajax__tab_header { position: absolute; top: 138px; padding: 0 0 0 5px; clear: both; }
.ajax__tab_ie-theme .ajax__tab_header .ajax__tab_tab { margin-right: 0px; background: url('../images/onglet/right.gif'); width: 116px; text-align: center; color: #666; font-family: Arial; font-size: 13px; display: block; cursor: pointer; height: 22px; line-height: 22px; border-style: solid; border-width: 0 1px; border-color: #C3C3C3; }
.ajax__tab_ie-theme .ajax__tab_active .ajax__tab_tab { background: url('../images/onglet/right_ontill.gif'); background-repeat: repeat-x; font-size: 13px; line-height: 22px; color: black; border-style: solid; border-width: 0 1px; border-color: #C3C3C3; }
.ajax__tab_ie-theme .ajax__tab_body { background-color: #CCD9E1; font-size: 13px; font-family: Arial; position: absolute; top: 160px; bottom: 0; width: 100%; }
.ajax__tab_panel { width: 100%; text-align: center; }
/** SCOREBOARD **/
#Div_Tasks { width: 98%; margin: 8px auto; text-align: left; }
.tbbCss { border-color: Black; font-size: 13px; border: none; border-collapse: collapse; width: 98%; margin: 0 auto; text-align: left; }
.tbbCss table { padding: 0px; margin: 0px; width: 100%; }
.tbbCss th { background-repeat: repeat-x; border-color: White; color: White; background-color: Gray; padding: 2px; }
.tbbCss td { border-color: Gray; font-family: sans-serif; text-align: left; padding: 2px; }
.tbbCss caption { font-family: sans-serif; }
.redJauge { display: inline; height: 10px; background-color: #CC3333; text-align: center; color: White; vertical-align: top; }
.greenJauge { display: inline; height: 10px; background-color: #669966; text-align: center; color: White; vertical-align: top; }
.blackJauge { display: inline; height: 10px; background-color: Black; text-align: center; color: White; vertical-align: top; }
.facttable, .facttable td { border-color: Black; border-style: solid; border-width: 1px; }
/** FILTER CONTROL **/
.filter_header { text-indent: 17px; background-image: url('../images/hide.png'); background-repeat: no-repeat; font-weight: bold; cursor: pointer; height: 18px; top: 0; }
.filter_container { background-image: url('../images/filter.png'); background-repeat: repeat-x; margin: 0 0 10px 0; padding: 10px 0 10px 0; text-align: center; display: none; }
#capsuleFilterButton { margin: 0 auto; height: 24px; clear: both; }
#msg_filter { margin: 0 0 0 -20px; padding: 0 0 0 20px; }
.intFilterLeft, .intFilterRight, .intPnlFilter, .valPFFilter1, .valPFDataFilter { display: none; }
/** DATAGRID **/
.dgdRelat, .szFullDataGrid, .shSzFullDataGrid, .shortDGD { position: relative; margin: 0; top: 0; width: 100%; }
.dgdAbs { position: absolute; text-align: left; float: left; width: 100%; left: 0; display: none; }
.dgdBack, .dgdNoHdFlt { position: relative; width: 97%; margin: 0 0 0 10px; left: 0; top: 0; font-size: 12px; background-color: #FFFFFF; text-align: left; border: solid 1px #CCCCCC; border-collapse: collapse; }
.pagerStyle { background-color: #efefef; background-image: url('../images/datagrid/dataPager.gif'); background-repeat: repeat-x; color: #35464e; height: 14px; line-height: 14px; }
.pagerStyle a, .dgdItem a, .dgdAlternate a { color: #50b8ea; }
.dgdHeaderStyle { background-color: #52a5d5; background-image: url('../images/datagrid/dataHeaderDefault.gif'); background-repeat: repeat-x; height: 14px; line-height: 14px; color: White; }
.dgdHeaderStyle td, .dgdHeaderStyle th, .dgdControl .dgdHeaderStyle li { background-image: url('../images/datagrid/dataHeaderEndDefault.gif'); background-repeat: no-repeat; background-position: right top; text-align: left; font-weight: normal; }
.dgdHeaderStyle a { color: White; text-decoration: none; display: block; width: 100%; text-indent: 2px; }
.dgdHeaderStyle a:hover { color: #EEEEEE; }
.dgdItem { background-color: #effaff; background-image: url('../images/datagrid/dataItemDefault.gif'); background-repeat: repeat-x; height: 14px; line-height: 14px; color: #3d5966; }
.dgdAlternate { background-color: #c3d7e0; background-image: url('../images/datagrid/dataAlternateItemDefault.gif'); background-repeat: repeat-x; height: 14px; line-height: 14px; color: #3d5966; }
.szFullDataGrid table, .szFullDataGrid .dgdControl { font-size: 0.9em !important; white-space: normal !important; }
.shSzFullDataGrid table, .shortDGD table, .shSzFullDataGrid .dgdControl, .shortDGD .dgdControl { font-size: 0.71em !important; white-space: normal !important; }
.dgdHeaderStyle td table td { background-image: none !important; }
.dgdLineLeft { border-color: #000000; border-style: solid; border-width: 0px 0px 0px 2px; }
.dgdGrayItem { background-color: #cecece; background-image: url('../images/datagrid/dataGrayItem.gif'); background-repeat: repeat-x; height: 14px; line-height: 14px; color: #444444; }
.DGHControl { position: absolute; left: 0; top: 0; margin: 0; width: 8px; height: 14px; overflow: hidden; }
.DGHCicon { background: none; border: none; cursor: pointer !impmortant; position: absolute; left: 1px; top: 1px; width: 8px; height: 14px; overflow: hidden; background-image: url('../images/DGHControl.gif'); background-repeat: no-repeat; background-position: -8px 0; }
.dgdControl { position: absolute; left: 10px; font-size: 12px; background-color: #FFFFFF; text-align: left; border: solid 1px #CCCCCC; border-collapse: collapse; }
.dgdControl ul { margin: 0; padding: 0; display: block; width: 100%; }
.dgdControl ul li { position: absolute; list-style: none; margin: 0; padding: 0; display: block; vertical-align: middle; }
.dgdControl ul li a { display: block; width: 100%; vertical-align: middle; }
.dgdControl ul li div { position: absolute; top: 0; bottom: 0; height: 100%; text-align: center; }
.scd a { padding: 0 0 5px 0; display: block; background-image: url('../images/datagrid/ordDown.gif'); background-repeat: no-repeat; background-position: center bottom; }
.scu a { padding: 0 0 5px 0; display: block; background-image: url('../images/datagrid/ordUp.gif'); background-repeat: no-repeat; background-position: center bottom; }
/** DOUBLE PANEL **/
.pnl_fact_left, .pnl_fact_right { float: left; padding: 0 8px; }
.bPanel { border: solid 1px #333; }
/** CELL SIZE **/
/** CELL BEHAVIOR **/
.dsp { display: block; float: left; margin: 2px; }
.mgn { margin: 0px; line-height: 20px; }
.mgn img { cursor: pointer; }
.fll, .bButtonSelected { width: 100%; display: block; padding: 0; }
.marginLeft { margin-left: 10px !important; }
.szMarginTop { margin: 140px 0 0 0; }
.shSzMarginTop { margin: 108px 0 0 0; }
/** NORMAL CELL SIZE **/
.sz100, .sz100 .fll, .szBtt100, .sz100 .lbM { width: 796px; }
.sz90, .sz90 .fll, .szBtt90, .sz90 .lbM { width: 716px; }
.sz80, .sz80 .fll, .szBtt80, .sz80 .lbM { width: 636px; }
.sz70, .sz70 .fll, .szBtt70, .sz70 .lbM { width: 556px; }
.sz60, .sz60 .fll, .szBtt60, .sz60 .lbM { width: 476px; }
.sz50, .sz50 .fll, .szBtt50, .sz50 .lbM { width: 396px; }
.sz40, .sz40 .fll, .szBtt40, .sz40 .lbM { width: 316px; }
.sz30, .sz30 .fll, .szBtt30, .sz30 .lbM { width: 236px; }
.sz25, .sz25 .fll, .szBtt25, .sz25 .lbM { width: 196px; }
.sz20, .sz20 .fll, .szBtt20, .sz20 .lbM { width: 156px; }
.sz15, .sz15 .fll, .szBtt15, .sz15 .lbM { width: 116px; }
.sz10, .sz10 .fll, .szBtt10, .sz10 .lbM { width: 76px; }
.sz07, .sz07 .fll, .szBtt07, .sz07 .lbM { width: 56px; }
.sz05, .sz05 .fll, .szBtt05, .sz05 .lbM { width: 36px; }
.szMtbSltBtt, .szMtbBtt { width: 80px; }
.szTabSltBtt, .szTabBtt { width: 160px; }
.szBoard { width: 640px; }
/** NORMAL INPUT SIZE **/
.sz100 .ptM, .sz100 .txM, .sz100 .lbM select { width: 794px; }
.sz90 .ptM, .sz90 .txM, .sz90 .lbM select { width: 714px; }
.sz80 .ptM, .sz80 .txM, .sz80 .lbM select { width: 634px; }
.sz70 .ptM, .sz70 .txM, .sz70 .lbM select { width: 554px; }
.sz60 .ptM, .sz60 .txM, .sz60 .lbM select { width: 474px; }
.sz50 .ptM, .sz50 .txM, .sz50 .lbM select { width: 394px; }
.sz40 .ptM, .sz40 .txM, .sz40 .lbM select { width: 314px; }
.sz30 .ptM, .sz30 .txM, .sz30 .lbM select { width: 234px; }
.sz25 .ptM, .sz25 .txM, .sz25 .lbM select { width: 194px; }
.sz20 .ptM, .sz20 .txM, .sz20 .lbM select { width: 154px; }
.sz15 .ptM, .sz15 .txM, .sz15 .lbM select { width: 114px; }
.sz10 .ptM, .sz10 .txM, .sz10 .lbM select { width: 74px; }
.sz07 .ptM, .sz07 .txM, .sz07 .lbM select { width: 54px; }
.sz05 .ptM, .sz05 .txM, .sz05 .lbM select { width: 34px; }
/** NORMAL TEXTAREA SIZE **/
.sz100 textarea { width: 792px !important; }
.sz90 textarea { width: 712px !important; }
.sz80 textarea { width: 632px !important; }
.sz70 textarea { width: 552px !important; }
.sz60 textarea { width: 472px !important; }
.sz50 textarea { width: 392px !important; }
.sz40 textarea { width: 312px !important; }
.sz30 textarea { width: 232px !important; }
.sz25 textarea { width: 192px !important; }
.sz20 textarea { width: 152px !important; }
.sz15 textarea { width: 112px !important; }
.sz10 textarea { width: 72px !important; }
.sz07 textarea { width: 52px !important; }
.sz05 textarea { width: 32px !important; }
/** SHORT CELL SIZE **/
.shSz100, .shSz100 .fll, .shSzBtt100, .shSz100 .lbM { width: 636px; }
.shSz90, .shSz90 .fll, .shSzBtt90, .shSz90 .lbM { width: 572px; }
.shSz80, .shSz80 .fll, .shSzBtt80, .shSz80 .lbM { width: 508px; }
.shSz70, .shSz70 .fll, .shSzBtt70, .shSz70 .lbM { width: 444px; }
.shSz60, .shSz60 .fll, .shSzBtt60, .shSz60 .lbM { width: 380px; }
.shSz50, .shSz50 .fll, .shSzBtt50, .shSz50 .lbM { width: 316px; }
.shSz40, .shSz40 .fll, .shSzBtt40, .shSz40 .lbM { width: 252px; }
.shSz30, .shSz30 .fll, .shSzBtt30, .shSz30 .lbM { width: 188px; }
.shSz25, .shSz25 .fll, .shSzBtt25, .shSz25 .lbM { width: 156px; }
.shSz20, .shSz20 .fll, .shSzBtt20, .shSz20 .lbM { width: 124px; }
.shSz15, .shSz15 .fll, .shSzBtt15, .shSz15 .lbM { width: 92px; }
.shSz10, .shSz10 .fll, .shSzBtt10, .shSz10 .lbM { width: 60px; }
.shSz07, .shSz07 .fll, .shSzBtt07, .shSz07 .lbM { width: 44px; }
.shSz05, .shSz05 .fll, .shSzBtt05, .shSz05 .lbM { width: 28px; }
.shSzMtbSltBtt, .shSzMtbBtt { width: 64px; }
.shSzTabSltBtt, .shSzTabBtt { width: 128px; }
.shSzBoard { width: 512px; }
/** SHORT INPUT SIZE **/
.shSz100 .ptM, .shSz100 .txM, .shSz100 .lbM select { width: 634px; }
.shSz90 .ptM, .shSz90 .txM, .shSz90 .lbM select { width: 570px; }
.shSz80 .ptM, .shSz80 .txM, .shSz80 .lbM select { width: 506px; }
.shSz70 .ptM, .shSz70 .txM, .shSz70 .lbM select { width: 442px; }
.shSz60 .ptM, .shSz60 .txM, .shSz60 .lbM select { width: 378px; }
.shSz50 .ptM, .shSz50 .txM, .shSz50 .lbM select { width: 314px; }
.shSz40 .ptM, .shSz40 .txM, .shSz40 .lbM select { width: 250px; }
.shSz30 .ptM, .shSz30 .txM, .shSz30 .lbM select { width: 186px; }
.shSz25 .ptM, .shSz25 .txM, .shSz25 .lbM select { width: 154px; }
.shSz20 .ptM, .shSz20 .txM, .shSz20 .lbM select { width: 122px; }
.shSz15 .ptM, .shSz15 .txM, .shSz15 .lbM select { width: 90px; }
.shSz10 .ptM, .shSz10 .txM, .shSz10 .lbM select { width: 58px; }
.shSz07 .ptM, .shSz07 .txM, .shSz07 .lbM select { width: 42px; }
.shSz05 .ptM, .shSz05 .txM, .shSz05 .lbM select { width: 26px; }
/** SHORT TEXTAREA SIZE **/
.shSz100 textarea { width: 632px !important; }
.shSz90 textarea { width: 568px !important; }
.shSz80 textarea { width: 504px !important; }
.shSz70 textarea { width: 440px !important; }
.shSz60 textarea { width: 376px !important; }
.shSz50 textarea { width: 312px !important; }
.shSz40 textarea { width: 248px !important; }
.shSz30 textarea { width: 184px !important; }
.shSz25 textarea { width: 152px !important; }
.shSz20 textarea { width: 120px !important; }
.shSz15 textarea { width: 88px !important; }
.shSz10 textarea { width: 56px !important; }
.shSz07 textarea { width: 40px !important; }
.shSz05 textarea { width: 24px !important; }
/** INPUT **/
.eHidden { visibility: hidden; }
.ptM .fll, .lbM .fll, txM .fll, .lbM .asmSelectOb { background-color: White; background-image: url('../images/input/input.gif'); background-repeat: repeat-x; background-position: 0 0; }
/* TEXTBOX */
.bdr { position: relative; height: 22px; margin: 2px; float: left; background-image: url('../images/input/bdr.gif'); background-position: 0 0; overflow: hidden; background-repeat: repeat-x; }
.ptM { position: absolute; left: 1px; top: 1px; height: 20px; padding: 0; overflow: hidden; }
.ptM input { position: absolute; top: -1px; left: -1px; height: 22px; text-indent: 3px; line-height: 22px; margin: 0; border: solid 0px #000; }
.mdt, .ptM .mdt, .lbM .mdt, .txM .mdt { background: #FFDADA url('../images/input/mdt.gif') repeat-x scroll 0 0; background-color: #FFDADA; background-image: url('../images/input/mdt.gif'); background-position: 0 0; background-repeat: repeat-x; }
.rly, .ptM .rly, .lbM .rly, .txM .rly { background: #F4F4F4 url('../images/input/rly.gif') repeat-x scroll 0 0 !important; background-color: #F4F4F4; background-image: url('../images/input/rly.gif'); background-position: 0 0; color: #777; background-repeat: repeat-x; }
.nBw80 { width: 80%; border-style: none !important; margin: 0 0 0 10%; }
.nBw90 { width: 90%; border-style: none !important; margin: 0 0 0 5%; }
/* DROP DOWN LIST */
.lbB { position: relative; margin: 2px; float: left; padding: 0; background-image: url('../images/input/bdr.gif'); background-position: 0 0; background-repeat: repeat-x; text-align: center; }
.ptM select { position: absolute; top: -1px; left: -1px; height: 22px; line-height: 22px; border: solid 0px #000; text-align: left; }
.lbM { position: relative; padding: 0; margin: 1px auto; text-align: center; }
.lbM .asmContainer { position: relative; top: 0; left: 0; margin: 0 auto; text-align: center; }
.lbM select { position: relative; height: 22px; margin: 0 auto 1px auto; text-align: left; padding: 0; border: solid 0px #000; border-width: 0 !important; }
.lbM ol { width: 100%; }
.ptM select option, .lbM select option { text-align: left; }
.asmList { text-align: left; }
/* TEXTAREA */
.txB { position: relative; margin: 2px; float: left; text-align: left; background-color: Black; background-image: url('../images/input/bdr.gif'); background-position: 0 0; overflow: hidden; background-repeat: repeat-x; border: solid 0px #000; height: 92px; }
.txM { position: absolute; top: 1px; left: 1px; height: 90px; margin: 0; background-color: White; background-image: url('../images/input/input.gif'); background-position: 0 0; overflow: hidden; background-repeat: repeat-x; }
.txM textarea { position: absolute; top: 1px; left: 1px; height: 88px; margin: 0; border: solid 0px #000000; background: none; background-color: White; background-image: url('../images/input/input.gif'); background-position: 0 -1px; background-repeat: repeat-x; }
.txH, .txH textarea { height: 200px; }
.icon { width: 14px; }
.smallIcon { width: 12%; }
.mTp { margin: 4% 0 0 0; }
.small { width: 70%; }
/** BUTTON SKIN **/
.shSzBtt15 input, .shSzBtt15 input:hover, shSzBtt15 .bButtonSelected, .szBtt15 input, .szBtt15 input:hover, .szBtt15 .bButtonSelected, .shSzBtt20 input, .shSzBtt20 input:hover, .shSzBtt20 .bButtonSelected, .szBtt20 input, .szBtt20 input:hover, .szBtt20 .bButtonSelected, .shSzBtt30 input, .shSzBtt30 input:hover, .shSzBtt30 .bButtonSelected, .szBtt30 input, .szBtt30 input:hover, .szBtt30 .bButtonSelected, .shSzBtt40 input, .shSzBtt40 input:hover, .shSzBtt40 .bButtonSelected, .szBtt40 input, .szBtt40 input:hover, .szBtt40 .bButtonSelected { background: none; border: none; background-image: url('../images/button/buttonListDefault.gif'); background-repeat: no-repeat; height: 20px; cursor: pointer; }
.shSzBtt15 input, .szBtt15 input, .shSzBtt20 input, .szBtt20 input, .shSzBtt30 input, .szBtt30 input, .shSzBtt40 input, .szBtt40 input { color: #d4e3ec; }
.shSzBtt15 input:hover, .shSzBtt15 .bButtonSelected, .szBtt15 input:hover, .szBtt15 .bButtonSelected, .shSzBtt20 input:hover, .shSzBtt20 .bButtonSelected, .szBtt20 input:hover, .szBtt20 .bButtonSelected, .shSzBtt30 input:hover, .shSzBtt30 .bButtonSelected, .szBtt30 input:hover, .szBtt30 .bButtonSelected, .shSzBtt40 input:hover, .shSzBtt40 .bButtonSelected, .szBtt40 input:hover, .szBtt40 .bButtonSelected { color: #dff1fb; }
/* 96 */
.shSzBtt15 input { background-position: 0px 0px; }
.shSzBtt15 input:hover, .shSzBtt15 .bButtonSelected { background-position: 0px -20px; }
/* 120 */
.szBtt15 input { background-position: 0px -40px; }
.szBtt15 input:hover, .szBtt15 .bButtonSelected { background-position: 0px -60px; }
/* 128 */
.shSzBtt20 input { background-position: 0px -80px; }
.shSzBtt20 input:hover, .shSzBtt20 .bButtonSelected { background-position: 0px -100px; }
/* 160 */
.szBtt20 input { background-position: 0px -120px; }
.szBtt20 input:hover, .szBtt20 .bButtonSelected { background-position: 0px -140px; }
/* 192 */
.shSzBtt30 input { background-position: 0px -160px; }
.shSzBtt30 input:hover, .shSzBtt30 .bButtonSelected { background-position: 0px -180px; }
/* 240 */
.szBtt30 input { background-position: 0px -200px; }
.szBtt30 input:hover, .szBtt30 .bButtonSelected { background-position: 0px -220px; }
/* 256 */
.shSzBtt40 input { background-position: 0px -240px; }
.shSzBtt40 input:hover, .shSzBtt40 .bButtonSelected { background-position: 0px -260px; }
/* 320 */
.szBtt40 input { background-position: 0px -280px; }
.szBtt40 input:hover, .szBtt40 .bButtonSelected { background-position: 0px -300px; }
/** BUTTON **/
.bButton { width: auto; float: left; }
.previousButton { width: 155px; float: left; }
.nextButton { width: 155px; float: right; }
.dsb input, .dsb input:hover { background-image: url('../images/button/buttonListDesable.gif') !important; }
/** CENTER BOTH **/
.alignButton1 { float: left; width: 15%; margin: 0 0 0 35%; }
.alignButton2 { float: left; width: 15%; }
/** TAB BUTTON **/
.szTabSltBtt, .szTabBtt, .shSzTabSltBtt, .shSzTabBtt, .szMtbSltBtt, .szMtbBtt, .shSzMtbSltBtt, .shSzMtbBtt { margin: 10px 0 0 0; height: 20px; cursor: pointer; }
.shSzTabSltBtt input, .shSzTabBtt input, .szMtbSltBtt input, .szMtbBtt input, .szTagSmall input { font-size: 0.8em; }
.shSzMtbSltBtt input, .shSzMtbBtt input, .shSzTagSmall input { font-size: 0.7em; }
.szTabSltBtt input, .szTabBtt input, .shSzTabSltBtt input, .shSzTabBtt input, .szMtbSltBtt input, .szMtbBtt input, .shSzMtbSltBtt input, .shSzMtbBtt input { border: none; background: none; background-repeat: no-repeat; background-image: url('../images/onglet/tagsDefault.gif'); cursor: pointer; height: 20px; }
.shSzMtbBtt input { background-position: 0px 0px; }
.shSzMtbSltBtt input { background-position: 0px -20px; }
.szMtbBtt input { background-position: 0px -40px; }
.szMtbSltBtt input { background-position: 0px -60px; }
.shSzTabBtt input { background-position: 0px -80px; }
.shSzTabSltBtt input { background-position: 0px -100px; }
.szTabBtt input { background-position: 0px -120px; }
.szTabSltBtt input { background-position: 0px -140px; }
.szTabBtt input, .szMtbBtt input, .shSzTabBtt input, .shSzMtbBtt input { color: #46788b; }
.szTabSltBtt input, .szMtbSltBtt input, .shSzTabSltBtt input, .shSzMtbSltBtt input { color: #dcf9ff; }
.szTabSltBtt .mgn, .szTabBtt .mgn, .shSzTabSltBtt .mgn, .shSzTabBtt .mgn, .szMtbSltBtt .mgn, .szMtbBtt .mgn, .shSzMtbSltBtt .mgn, .shSzMtbBtt .mgn, .szBoard .mgn, .shSzBoard .mgn { margin: 0; cursor: pointer; }
/*.szBoard .dgdBack, .shSzBoard .dgdBack { width: 100%; }*/
/** TEXT PROPERTY **/
.rgt { text-align: right; line-height: 20px; }
.lft { text-align: left; float: left; }
.leftTxt { text-align: left; display: inline; }
.rht { text-align: right; float: right; }
.rdc { font-size: 0.8em; }
.ita { font-style: italic; }
/** AJAX CONTROL TOOL KIT **/
.ajax__combobox_inputcontainer, .ajax__combobox_textboxcontainer, .ajax__combobox_textboxcontainer input { width: 100%; }
.ajax__combobox_inputcontainer { margin: 2px; }
/** AJAX CALENDAR **/
.ajax__calendar_container { background-color: #FFFFFF !important; padding: 0 !important; border-style: solid !important; border-width: 0 1px 1px 1px !important; border-color: #777777 !important; z-index: 14; }
.ajax__calendar_container table { border-collapse: collapse; width: 100% !important; }
.ajax__calendar_header { background-image: url('../images/calendar/calHeadDefault.gif'); background-repeat: no-repeat; background-color: #818d92; }
.ajax__calendar_title { font-family: Arial !important; color: #e2f3fb; line-height: 20px; height: 20px; }
.ajax__calendar_title:hover { color: #FFFFFF !important; }
.ajax__calendar_prev, .ajax__calendar_next { background-image: url('../images/calendar/calDirDefault.gif'); background-repeat: no-repeat; overflow: hidden; width: 30px !important; height: 20px !important; }
.ajax__calendar_prev { background-position: 0px 0px !important; }
.ajax__calendar_prev:hover { background-position: 0px -20px !important; }
.ajax__calendar_next { background-position: -30px 0px !important; }
.ajax__calendar_next:hover { background-position: -30px -20px !important; }
.ajax__calendar_dayname, .ajax__calendar_container table thead { border-style: none !important; border-width: 0 !important; background-image: url('../images/calendar/calTitle.gif') !important; background-repeat: repeat-x; background-color: #f0f1f1 !important; color: #777777 !important; width: auto !important; text-align: center !important; padding: 0 !important; }
.ajax__calendar_footer, .ajax__calendar_today { background-image: url('../images/calendar/calTitle.gif') !important; background-repeat: repeat-x; background-color: #f0f1f1 !important; color: #777777 !important; width: auto !important; text-align: center !important; padding: 0 !important; }
/** POPUP **/
.htmlContent { margin: 15px; padding: 2px; }
.divC { float: left; width: 20px; margin: 0 5px 0 0; }
/** LOAD **/
.Load { width: 100%; height: 100%; text-align: center; line-height: 100%; top: 0; left: 0; position: absolute; z-index: 19; background-image: url('../images/opacite.png'); background-repeat: repeat; }
.Load img { position: relative; width: 32px; height: 32px; margin: auto; top: 40%; left: auto; right: auto; }
/** CALENDAR **/
#ui-datepicker-div { font-size: 0.9em; }
/** HIDDEN ELEMENT **/
.hiddenItem, .hidedcolumn { display: none; }
/** !! DIV TO DELETE !! **/
#menuTopCenter, #menuTopRight, #menuTopBandeau1, #menuTopBandeau2 { display: none; }
/** BUTTON OVER **/
.menuHide { position: absolute; width: 15px; height: 20px; font-size: 16px; font-weight: bold; background-image: url('../images/menu/icone-menu.gif'); background-repeat: no-repeat; background-position: center center; background-color: #BEBEBE; z-index: 15; display: none; top: 0px; }
/** LEFT MENU CONTAINER **/
#menuLeft { background: #afbbc3 url('../images/leftMenu/leftMenu.gif')repeat-x scroll left top; background-color: #afbbc3; background-image: url('../images/leftMenu/leftMenu.gif'); background-position: left top; background-repeat: repeat-x; overflow: auto; position: absolute; left: 0; bottom: 0; top: 0; width: 0px; z-index: 7; display: none; }
/** PANEL LABELS **/
#ctl00_TagControl_tag_container { width: 173px; text-align: center; }
#ctl00_TagControl_tag_container ul { padding: 0; }
#ctl00_TagControl_tag_container ul li { list-style: none; text-align: left; }
.w150 { width: 150px; }
/** ANCHOR BUTTON **/
.pinMenu { cursor: pointer; float: right; background-image: url('../images/pin.png'); width: 24px; height: 22px; }
.pinMenu:hover { cursor: pointer; float: right; background-image: url('../images/pin-hover.png'); width: 24px; height: 22px; }
.unpinMenu { cursor: pointer; float: right; background-image: url('../images/unpin.png'); width: 24px; height: 22px; }
.unpinMenu:hover { cursor: pointer; float: right; background-image: url('../images/unpin-hover.png'); width: 24px; height: 22px; }
/** MENU TAB **/
.menuLeft ul { padding: 0 0 0 10px; margin: 0; }
.itemMenuLeft li { list-style-type: none; background-color: #DDD; padding: 0; margin: 0 0 5px 0; clear: both; }
.itemMenuLeft input { float: left; }
.menuLeft li.select { font-weight: normal; text-align: left; background-color: #F0F0F0; color: #000000; }
.menuLeft:hover li.select { font-weight: bold; text-align: left; }
.itemMenuLeft:hover li:hover { font-style: italic; text-align: left; }
.itemMenuLeft:hover li:hover > a { color: White; }
.itemCheckBox { float: left; height: 20px; text-align: center; vertical-align: middle; }
.itemCheckBox input { text-decoration: none; color: #111111; display: block; padding: 0; margin: auto; height: 20px; width: 20px; }
.itemLink { height: 20px; }
.itemMenuLeft a { text-decoration: none; color: #111111; display: block; line-height: 20px; text-indent: 10px; font-weight: lighter; }
.menuLeft li.select a { text-indent: 4px; color: #000000; }
/** TAG MENU **/
#tag_menu ul { margin: 0; list-style: none; }
#tag_menu li { float: left; background: url('../images/onglet/left_on.gif') no-repeat left top; margin: 0; padding: 0 0 0 9px; }
#tag_menu a { display: block; background: url('../images/onglet/right_on.gif') no-repeat right top; padding: 5px 15px 4px 6px; text-decoration: none; font-weight: bold; color: #765; font-size: 0.8em; }
#tag_menu a:hover { color: #333; }
#tag_menu #tag_current { background-image: url('../images/onglet/left_on.gif'); }
#tag_menu #tag_current a { background-image: url('../images/onglet/right_on.gif'); color: #333; padding: 5px 15px 5px 6px; }
.tag_DDL { width: 160px; }
.tag_DDL input, .tag_DDL select { margin: 0 0 0 10px; padding: 0; width: 150px; }
/** FOOTER **/
.bottomFixedFooter { position: absolute; bottom: 0; z-index: 17; width: 1024px; background: #b5bdc4 url(../images/footer/bottomBar.gif) repeat-x; background-position: center bottom; text-align: center; overflow: hidden; }
.bFlyingFooter { display: none; }
/** FOOTER CONTROL SIZE **/
.footer .footerTop { display: none; }
.footerMulti .footerTop { display: block; }
/** FOOTER BUTTONS **/
.footerAlignGlobal { position: absolute; height: 100%; margin: 0 auto; left: auto; right: auto; }
.bottomFixedFooter input[type=submit] { background-color: transparent; background-image: none !important; border: solid 1px Transparent; color: #ffffff !important; font-family: Verdana; font-size: 12; }
.bottomFixedFooter input[type=submit]:hover { border: dashed 1px white; }
.footerAlignGlobal input { background-image: none !important; }
.bottomFixedFooter input { background-color: transparent; background-image: none !important; border: solid 1px Transparent; color: #ffffff; font-family: Verdana; font-size: 12; position: relative; }
.bottomFixedFooter input:hover { border: dashed 1px white; }
.bButton_9 { width: 120px; height: 30px; line-height: 30px; position: relative; left: auto; right: auto; float: left; }
/** NO BG AREA **/
.hideBGInput { /*background: none !important;*/ background-image: none !important; background-color: transparent; border: none !important; border-color: transparent !important; border-style: none !important; border-width: 0 !important; }
