@CHARSET "ISO-8859-1";
#Menu-Horizontal #Nav { margin:0; list-style:none; position:relative;}
#Menu-Horizontal #Nav ul { position: absolute; width: 10em; }
#Menu-Horizontal  #Nav li { width: 10em; margin: 0; float: left; padding: 0; position: relative; z-index: 100; }

#Menu-Horizontal #Nav li a ,
#Menu-Horizontal #Nav #Menu li a 
#Menu-Horizontal #Nav li a:hover, 
#Menu-Horizontal #Nav li a:active { height:1.7em; display: block; text-decoration: none; /*margin: 0 1px 0 1px; background:blue;*/}

#Menu-Horizontal #Nav ul li:first-child{ margin: 1px 0 0 0;}
#Menu-Horizontal #Nav li a:hover { text-decoration: underline; float:none; }

#Menu-Horizontal .Menu { padding: 0; margin: 0; list-style: none; display: none; }
#Menu-Horizontal .Menu li  {border-top:none;}
#Menu-Horizontal .Menu li a { background:white url(../Images/fond-blanc.png)  50% 50%;}