@CHARSET "ISO-8859-1";

.erreur{
	color:red;
	font-bold:bold;
	padding-left: 1em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display:block;
}

.iconerreur{
	float: left;
	margin-right: 0.3em;
}