@CHARSET "ISO-8859-1";
#Menu-Horizontal #Nav { margin:0; list-style:none; position:relative; z-index: 100;}

#Menu-Horizontal #Nav ul {
  /* Sub Menu Width */
 /*margin: 0;
 list-style: none;
 display: none;*/
 position: absolute;
 /*top: 100%;*/
 /*left: 0;*/
 /*z-index: 100; */
 /*padding: 0;*/
 /*text-align:center;*/ 
 width: 10em;
}

 /* Root Menu */
#Menu-Horizontal #Nav a {
	/*padding: 6px;*/
	float: left;
	/*display: block;*/
	/*text-align:center;*/
	text-decoration: none;
	/*height: 1%;*/
}}


/*#Menu-Horizontal #Nav ul ul,*/
#Menu-Horizontal #Nav ul ul /*ul*/ { /*margin:0;*/ /*top:0;*/ /*left:100%;*/ /*text-align:center;*/}

#Menu-Horizontal #Nav li 
{ 
	height:1.7em; 
	padding: 0 1em 0 0; 
	/*width: 10em; */
	/*float: left;*/ 
	/*display: inline;*/ 
	position: relative; 
	/*vertical-align:text-top;*/ 
	/*text-align:center;*/
}

#Menu-Horizontal #Nav ul li { width: 10em; /*left:-2em;*/ height:1.7em; width: 100%; display: block; text-align:center;}
#Menu-Horizontal #Nav ul li.first{ margin-top:1.7em; text-align:center;}



#Menu-Horizontal #Nav li a:hover { text-decoration: underline;}

/* Root Menu Hover Persistence */
/*#Menu-Horizontal #Nav a:hover,
#Menu-Horizontal #Nav li:hover a,
#Menu-Horizontal #Nav li.iehover a { /*text-align:center;*/
 /*text-align:left;*/ 
/*}*/

#Menu-Horizontal .Menu li  { border-top:none; background: white url(../Images/fond-blanc.png) 50% 50%; text-align:center; }

/* 2nd Menu */
#Menu-Horizontal #Nav li:hover li a,
#Menu-Horizontal #Nav li.iehover li a { /*text-align:center;*/ float: none; }

/* Hover Function - Do Not Move */
#Menu-Horizontal #Nav li:hover ul ul
/*,#Menu-Horizontal #Nav li:hover ul ul ul,
#Menu-Horizontal #Nav li.iehover ul ul,
#Menu-Horizontal #Nav li.iehover ul ul ul*/ { /*text-align:center;*/ display: none; }

#Menu-Horizontal #Nav li:hover ul
/*,
#Menu-Horizontal #Nav ul li:hover ul,
#Menu-Horizontal #Nav ul ul li:hover ul,
#Menu-Horizontal #Nav li.iehover ul,
#Menu-Horizontal #Nav ul li.iehover ul,
#Menu-Horizontal #Nav ul ul li.iehover ul*/ { text-align:center; display: block; }