@CHARSET "ISO-8859-1";

#Menugauche {
	margin-left: 0;
	padding-left: 0%;
	font-size: 1em;
	/*background-color: #6d8cc7 ;*/
	float: left;
	clear:left;
	visibility: visible;
	width: 163px;
	min-height: 600px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#Menugauche h3{
	/*color: white;*/
	padding-left: 0.5em;
	border-style: none;
	padding-top:0.2em;
	height:1.5em;
	border-width: thin 0 0 0;
	/*background-color: #4a79ae;*/
	margin-top: 0em;
	margin-bottom: 0em;
	
}
#Menugauche h3.premiermenu{
	border-style: none;
	border-width: none;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#Menugauche ul{
	list-style-type : none;
	margin-top:0.5em;
	padding-left:20px;
}
#Menugauche ul li{
	font-size: 0.9em;
	cursor:pointer;
	padding-bottom:0.5em;
}

.listselected {
	font-weight:bold;
	padding:0.2em 0.5em 0.2em 0.5em;
	border-style: none;
	height:1.5em;
	border-width: thin 0 0 0;
	/*background-color: #4a79ae;*/
	margin-top: 0em;
	margin-bottom: 0em;		
}

#Menugauche a {
	/*color: white;*/
	text-decoration: none;
}