/** HEADER  **/
.pagerStyle a, .dgdItem a, .dgdAlternate a, .asmContainer a { color: #456980; }
.pagerStyle a:hover, .dgdItem a:hover, .dgdAlternate a:hover, .asmContainer a:hover { color: #71add2; }
h2, h6 { color: #295978; }
h4, h5, h6 { border-bottom: 2px solid #CCD9E1; }
#menuBottom { background-color: #CCD9E1; background-image: url('../images/menu/0.gif'); background-repeat: repeat-x; }
/** CONTENT **/
#wrapContain { background-image: url('../images/menu/0.gif'); background-repeat: repeat-x; background-position: top center; }
/** LEFT MENU **/
.itemMenuLeft:hover li:hover { background-color: #CCD9E1; }
#menuLeft { background: #afbbc3 url('../images/leftMenu/leftMenu0.gif')repeat-x scroll left top; background-color: #afbbc3; background-image: url('../images/leftMenu/leftMenu0.gif'); }
/** FILTER **/
.filter_header { color: #3a444a; }
.filter_container { background-color: #b6c7d1; border-top-color: #b6c7d1; border-bottom-color: #b6c7d1; }
/** DATAGRID **/
.pagerStyle { color: #3a444a; }
.dgdHeaderStyle, .dgdControl .dgdHeaderStyle li { background-color: #7499b5; background-image: url('../images/datagrid/dataHeader0.gif'); }
.dgdHeaderStyle td, .dgdHeaderStyle th, .dgdControl .dgdHeaderStyle li { background-image: url('../images/datagrid/dataHeaderEnd0.gif'); }
.dgdItem { background-color: #f2f8fc; background-image: url('../images/datagrid/dataItem0.gif'); color: #465660; }
.dgdAlternate { background-color: #c8d4da; background-image: url('../images/datagrid/dataAlternateItem0.gif'); color: #465660; }
.dgdLineLeft { border-color: #7499b5; }
/** BUTTON SKIN **/
.shSzBtt15 input, .shSzBtt15 input:hover, .szBtt15 input, .szBtt15 input:hover, .shSzBtt20 input, .shSzBtt20 input:hover, .szBtt20 input, .szBtt20 input:hover, .shSzBtt30 input, .shSzBtt30 input:hover, .szBtt30 input, .szBtt30 input:hover, .shSzBtt40 input, .shSzBtt40 input:hover, .szBtt40 input, .szBtt40 input:hover, #capsuleFilterButton input, #capsuleFilterButton input:hover, .szBtt15 .bButtonSelected, .shSzBtt20 .bButtonSelected, .szBtt20 .bButtonSelected, .shSzBtt30 .bButtonSelected, .szBtt30 .bButtonSelected, .shSzBtt40 .bButtonSelected, .szBtt40 .bButtonSelected { background-image: url('../images/button/buttonList0.gif'); color: #dfeffb; }
.shSzBtt15 input, .szBtt15 input, .shSzBtt20 input, .szBtt20 input, .shSzBtt30 input, .szBtt30 input, .shSzBtt40 input, .szBtt40 input, #capsuleFilterButton input { color: #d4e1ec; }
.dsb input, .dsb input:hover { background-image: url('../images/button/buttonListDesable.gif'); }
/** TAB BUTTON **/
.szTabSltBtt input, .szTabBtt input, .shSzTabSltBtt input, .shSzTabBtt input, .szMtbSltBtt input, .szMtbBtt input, .shSzMtbSltBtt input, .shSzMtbBtt input { background-image: url('../images/onglet/tags0.gif'); }
.szTabBtt input, .szMtbBtt input, .shSzTabBtt input, .shSzMtbBtt input { color: #46688b; }
.szTabSltBtt input, .szMtbSltBtt input, .shSzTabSltBtt input, .shSzMtbSltBtt input { color: #dcf1ff; }
/** INPUT **/
.mdt, .ptM .mdt, .lbM .mdt, .txM .mdt { background: #DDEFFA url('../images/input/mdt0.gif') repeat-x scroll center top; background-color: #DDEFFA; background-image: url('../images/input/mdt0.gif'); }
/** AJAX CALENDAR **/
.ajax__calendar_header { background-image: url('../images/calendar/calHead0.gif') !important; background-color: #818d92 !important; }
.ajax__calendar_title { color: #e2f3fb !important; }
.ajax__calendar_prev, .ajax__calendar_next { background-image: url('../images/calendar/calDir0.gif') !important; }
/** FOOTER **/
.bottomFixedFooter { background: #22333e url(../images/footer/bottomBar0.gif) repeat-x; }
